extends ../layout

block content

  form(action="/albums/" + theAlbum.id + '/update', method="post")

    div
      label(for="artist_name") Artist Name
      input(type="text" name="artist_name")&attributes({ value: theAlbum.artist })

    div
      label(for="album_name") Album Name
      input(type="text" name="album_name")&attributes({ value: theAlbum.name })

    div
      label(for="album_genre") Genre
      select(name="genre")
        option(value="jazz")&attributes({ value: theAlbum.genre })

    div
      label(for="stars") Album Rating 1
        input(type="radio" name="album_rating" value="1")
        input(type="radio" name="album_rating" value="2")
        input(type="radio" name="album_rating" value="3")
        input(type="radio" name="album_rating" value="4")
        input(type="radio" name="album_rating" value="5")
        span 5

    div
      label(for="explicit")
        input(type="checkbox" name="explicit" for="explicit")
        span Contains Explicit Lyrics

    div
      input(type="submit")
      a cancel
